.event {
    border: 1px solid #000;
    background-color: #add8e6;
    text-align: center;
    overflow: hidden;
    flex: 0 1 100%;
    border-radius: 5px;
    margin: 0px 5px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}